.section_info-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-list {
  padding: 0;
}

.li-name a {
  display: block;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.462);
  font-size: 3rem;
  width: 35vw;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-weight: 500;
}

.none {
  display: none;
}

.section_info-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-list {
  padding: 0;
}

.li-name a {
  display: block;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.462);
  font-size: 3rem;
  width: 35vw;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-weight: 500;
}

.none {
  display: none;
}

.section_info-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-list {
  padding: 0;
}

.li-name a {
  display: block;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.462);
  font-size: 3rem;
  width: 35vw;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-weight: 500;
}

.none {
  display: none;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 32px;
    width: 75vw;
    padding: 33px;
  }
}

@media (max-height: 1024px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 31px;
    width: 54vw;
    padding: 18px;
  }
}

@media (max-width: 912px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 32px;
    width: 75vw;
    padding: 33px;
  }
}

@media (max-height: 912px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 31px;
    width: 54vw;
    padding: 18px;
  }
}

@media (max-width: 820px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 24px;
    width: 66vw;
    padding: 27px;
  }
}

@media (max-height: 820px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 29px;
    width: 63vw;
    padding: 15px;
  }
}

@media (max-width: 540px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 19px;
    width: 75vw;
    padding: 16px;
  }
}

@media (max-height: 540px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 22px;
    width: 70vw;
    padding: 18px;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 23px;
    width: 75vw;
    padding: 10px;
  }
}

@media (max-height: 414px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 27px;
    width: 60vw;
    padding: 15px;
  }
}

@media (max-width: 375px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 21px;
    width: 75vw;
    padding: 10px;
  }
}

@media (max-height: 375px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 21px;
    width: 66vw;
    padding: 15px;
  }
}

@media (max-width: 280px) and (orientation: portrait) {
  .section_info-name {
    margin: -15px 0 0 0;
  }
  .li-name a {
    font-size: 17px;
    width: 75vw;
    padding: 8px;
  }
}

@media (max-height: 280px) and (orientation: landscape) {
  .section_info-name {
    margin: -20px 0 0 0;
  }
  .li-name a {
    font-size: 21px;
    width: 66vw;
    padding: 15px;
  }
}
