.section_schedule {
  margin: 30px 0 0 0;
}
.btn_schedule {
  display: flex;
  justify-content: space-between;
}
.btn_schedule button {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.701);
  font-size: 2rem;
  color: #fff;
  padding: 15px;
  margin: 0 20px;
}
.monday {
}
.schedule-schedule {
  display: flex;
  justify-content: space-between;
}
.schedule_monday {
}

.title_schedule {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin: -50px 0 50px;
}
.subtitle_schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.621);
  font-size: 1.6rem;
  color: #fff;
  height: 65px;
}
.sub_title_day {
  margin: 0;
}
.td_schedule {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.621);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}
.td_all {
  padding: 11.95px;
}
.schedule_all {
}
.schedule_shortened {
}

@media (max-width: 912px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 29px;
    height: 99px;
  }
  .td_schedule {
    font-size: 44px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }

  .td_monday {
    font-size: 38px;
    padding: 24px;
  }
}
@media (max-height: 912px) and (orientation: landscape) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 30px;
    height: 87px;
  }
  .td_schedule {
    font-size: 32px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }
  .td_monday {
    padding: 7px;
    font-size: 20px;
  }
}

@media (max-width: 820px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 24px;
    height: 75px;
  }
  .td_schedule {
    font-size: 35px;
    padding: 10px;
  }
  .td_all {
    padding: 11px;
  }

  .td_monday {
    font-size: 32px;
    padding: 20px;
  }
}

@media (max-width: 1500px) and (orientation: landscape) {
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 540px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 20px;
    height: 65px;
  }
  .td_schedule {
    font-size: 25px;
    padding: 10px;
  }
  .td_all {
    padding: 11px;
  }
  .td_monday {
    padding: 7px;
    font-size: 20px;
  }
}
@media (max-height: 540px) and (orientation: landscape) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 17px;
    height: 50px;
  }
  .td_schedule {
    font-size: 24px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 20px;
    height: 65px;
  }
  .td_schedule {
    font-size: 25px;
    padding: 14px;
  }
  .td_all {
    padding: 11px;
  }

  .td_monday {
    font-size: 20px;
    padding: 14px;
  }
}
@media (max-height: 414px) and (orientation: landscape) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 17px;
    height: 50px;
  }
  .td_schedule {
    font-size: 24px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }
}
@media (max-width: 393px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 16px;
    height: 50px;
  }
  .td_schedule {
    font-size: 24px;
    padding: 12px;
  }
  .td_all {
    padding: 10px;
  }
  .td_monday {
    padding: 7px;
    font-size: 20px;
  }
}
@media (max-width: 390px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 16px;
    height: 50px;
  }
  .td_schedule {
    font-size: 23px;
    padding: 12px;
  }
  .td_all {
    padding: 10px;
  }
  .td_monday {
    padding: 7px;
    font-size: 20px;
  }
}
@media (max-width: 375px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 16px;
    height: 50px;
  }
  .td_schedule {
    font-size: 22px;
    padding: 12px;
  }
  .td_all {
    padding: 12px;
  }
  .td_monday {
    padding: 7px;
    font-size: 20px;
  }
}
@media (max-height: 375px) and (orientation: landscape) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 17px;
    height: 50px;
  }
  .td_schedule {
    font-size: 24px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }
}
@media (max-width: 360px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 16px;
    height: 50px;
  }
  .td_schedule {
    font-size: 22px;
    padding: 12px;
  }
  .td_all {
    padding: 9px;
  }
  .td_monday {
    padding: 8px;
    font-size: 19px;
  }
}
@media (max-width: 280px) and (orientation: portrait) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 16px;
    height: 50px;
  }
  .td_schedule {
    font-size: 14px;
    padding: 12px;
  }
  .td_all {
    padding: 10px;
  }
}
@media (max-height: 280px) and (orientation: landscape) {
  .section_schedule {
    margin: -10px 0 0 0;
  }
  .btn_schedule {
  }
  .btn_schedule button {
    font-size: 2rem;
    padding: 15px;
    margin: 0 20px;
  }
  .monday {
  }
  .schedule-schedule {
    display: flex;
    justify-content: center;
  }
  .schedule_monday {
  }

  .title_schedule {
    display: none;
  }
  .subtitle_schedule {
    font-size: 17px;
    height: 50px;
  }
  .td_schedule {
    font-size: 24px;
    padding: 10px;
  }
  .td_all {
    padding: 15px;
  }
}
