@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* * {
  padding: 0;
  margin: 0;
} */

html,
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  background-image: url(../image/123.jpg);
  background-size: cover;
  background-position: center;
  font-size: 10px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* -------------------------------- */


.header {
  margin: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__name-logo {
  font-size: 1.6rem;
}

.header__img-logo {
  width: 80px;
  border-radius: 50%;
}

.header__img-logo img {
  max-width: 100%;
}

.header__name_sublogo {
  font-size: 2rem;
}


@media(max-width: 1368px) {
  .header {
    margin: 10px 0 0;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 2rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 2rem;
  }
}

@media(max-width: 1180px) {
  .header {
    margin: 10px 0 0;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 2rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 2rem;
  }
}

@media(max-width: 915px) {
  .header {
    margin: 10px 0 0;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 1.6rem;
  }
}

@media(max-width: 912px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 3rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 3rem;
  }
}

@media(max-width: 896px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 1.6rem;
  }
}

@media(max-width: 820px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 2.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 2.6rem;
  }
}

@media(max-width: 740px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 1.6rem;
  }
}

@media(max-width: 720px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 1.6rem;
  }
}

@media(max-width: 667px) {
  .header {
    margin: 10px 0 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__name_sublogo {
    font-size: 1.6rem;
  }
}

/* -------------- */
@media(max-width: 540px) {
  .header {
    margin: 20px 0;
  }

  .header__container {
    justify-content: center;
  }

  .header__name-logo {
    font-size: 2rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    display: none;
    width: 80px;
  }

  .header__name_sublogo {
    display: none;
    font-size: 2rem;
  }
}

@media(max-width: 414px) {
  .header {
    margin: 20px 0;
  }

  .header__container {
    justify-content: center;
  }

  .header__name-logo {
    font-size: 2rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    display: none;
    width: 80px;
  }

  .header__name_sublogo {
    display: none;
    font-size: 2rem;
  }
}

@media(max-width: 375px) {
  .header {
    margin: 20px 0;
  }

  .header__container {
    justify-content: center;
  }

  .header__name-logo {
    font-size: 1.6rem;
  }

  .header__img-logo {
    width: 80px;
  }

  .header__img-logo {
    display: none;
    width: 80px;
  }

  .header__name_sublogo {
    display: none;
    font-size: 2rem;
  }
}